body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
}

h1, h2, h3 {
    color: #000;
}

.publication {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #666;
}
